<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Energiemanagement" context="kostalInverter2ndGen14460" id="14460" name="kostalInverter2ndGen" internal_name="kostalInverter2ndGen" external_name="Kostal-Wechselrichter 2nd Gen (14460)" version="1.0">
            <inputs>
                <input type="number" const_name="switch" init_value="0">Switch on (1) / off (0)</input>
                <input type="number" const_name="fetch_interval" init_value="10">Seconds of the read-interval (default: 10 secs)</input>
                <input type="string" const_name="inverter_ip" init_value="127.0.0.1">IP of inverter</input>
            </inputs>
            <outputs>
                <output type="number" const_name="inverter_status" init_value="0">Inverter operating Status</output>
                <output type="number" const_name="dc_energy" init_value="0">PV power on DC side</output>
                <output type="number" const_name="dc_ac_converted_energy" init_value="0">DC-AC inverted energy on AC side</output>
                <output type="number" const_name="daily_yield" init_value="0">Daily yield in Wh</output>
                <output type="number" const_name="total_yield" init_value="0">Total yield in kWh</output>
                <output type="number" const_name="l1_voltage" init_value="0">L1: voltage in V</output>
                <output type="number" const_name="l1_current" init_value="0">L1: current in A</output>
                <output type="number" const_name="l1_power" init_value="0">L1: power in W</output>
                <output type="number" const_name="l2_voltage" init_value="0">L2: voltage in V</output>
                <output type="number" const_name="l2_current" init_value="0">L2: current in A</output>
                <output type="number" const_name="l2_power" init_value="0">L2: power in W</output>
                <output type="number" const_name="l3_voltage" init_value="0">L3: voltage in V</output>
                <output type="number" const_name="l3_current" init_value="0">L3: current in A</output>
                <output type="number" const_name="l3_power" init_value="0">L3: power in W</output>
                <output type="number" const_name="grid_freq" init_value="0.0">Grid frequency</output>
                <output type="number" const_name="dc1_voltage" init_value="0.0">DC1 voltage in V</output>
                <output type="number" const_name="dc1_current" init_value="0.0">DC1 current in A</output>
                <output type="number" const_name="dc1_power" init_value="0.0">DC1 power in W</output>
                <output type="number" const_name="dc2_voltage" init_value="0.0">DC2 voltage in V</output>
                <output type="number" const_name="dc2_current" init_value="0.0">DC2 current in W</output>
                <output type="number" const_name="dc2_power" init_value="0.0">DC2 power in V</output>
                <output type="number" const_name="dc3_voltage" init_value="0.0">DC3 voltage in V</output>
                <output type="number" const_name="dc3_current" init_value="0.0">DC3 current in A</output>
                <output type="number" const_name="dc3_power" init_value="0.0">DC3 power in W</output>
                <output type="number" const_name="home_power_pv" init_value="0.0">Home consumption PV in W</output>
                <output type="number" const_name="home_power_grid" init_value="0.0">Home consumption Grid in W</output>
                <output type="number" const_name="home_energy_today" init_value="0.0">Home consumption today in kWh</output>
                <output type="number" const_name="home_energy_total" init_value="0.0">Home consumption total in kWh</output>
            </outputs>
            <remanent_variables>
            </remanent_variables>
            <imports>
                <import>hsl20_3_timer</import>
                <import>lib/requests</import>
                <import>lib/urllib3</import>
                <import>lib/chardet</import>
                <import>lib/certifi</import>
                <import>lib/idna</import>
            </imports>
        </module>
    </modules>
    <logging type="None" ip="" port="" />
</config>
